/* Change size of logo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav-logo img {
    max-width: 150px;
    display: flex;
    
}

nav {
    margin: auto;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links li > a {
    padding: 2rem;
    font-size: 18px;
}

.btn {
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

img {
    width: 100%;
}

/* Remove blue underline from link */
a {
    text-decoration: none 

/* Change font and background colour*/
}
body {
    font-family:;
    background-color:
}

.content h1 span {
    color:red;
}