@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
}


body {
    font-family: 'Poppins', sans-serif;
    background: url(images/block.png);
    background-size: cover;
}

nav{
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;    
}

.nav-logo {
    max-width: 150px;
    margin-left: -650px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10rem;
}

.link a {
    text-decoration: none;
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    font-size: 17px;
       
}

.link a::before, .link a::after {
    margin-right: 4px;
    content: "\\\\";
    
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff7f;
    transition: all 0.3s ;
}

.link a:hover::after {
    width: 80%; 
}

    

.wrapper {
    text-align: center;
    max-width: 2300px;
    margin: auto;
    padding: 5rem 2rem;
}



header .content h1 {
    padding-top: 100px;
    color: #fff;
    font-weight:bold;
    font-size: 6rem;
}

header .content h4 {
    padding-top: 20px;
    font-size: 2rem;
    color: #ccc;
    font-weight: lighter;
    font-style: italic;
}







