/* Change size of logo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo img {
    max-width: 200px 
}

img {
    width: 25%;
    
}

/* Remove blue underline from link */
a {
    text-decoration: none 

/* Change font and background colour*/
}
body {
    font-family:;
    background-color: 
}